.contactList {
  display: flex;
  flex-direction: column;
}

.contactListItem {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.contactName,
.contactNumber {
  padding: 10px 0 0 0;
}

.deleteBtn {
  padding: 0;
}
